<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.greylabs.sumod.dbct10" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdminMenu"
            android:label="@string/title_activity_admin_menu" >
        </activity>
        <activity
            android:name=".IncidentList"
            android:label="@string/title_activity_incident_list" >
        </activity>
        <activity
            android:name=".CategoryList"
            android:label="@string/title_activity_category_list" >
        </activity>
        <activity
            android:name=".IncidentDetails"
            android:label="@string/title_activity_incident_details" >
        </activity>
        <activity
            android:name=".CategoryDetails"
            android:label="@string/title_activity_category_details" >
        </activity>
        <activity
            android:name=".IncidentAdd"
            android:label="@string/title_activity_incident_add" >
        </activity>
        <activity
            android:name=".CategoryAdd"
            android:label="@string/title_activity_category_add" >
        </activity>
        <activity
            android:name=".UserAdd"
            android:label="@string/title_activity_user_add" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDBlgb9nlN0MUPPIz7lJsRW9TOf6fhtUSo" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>
        <activity
            android:name=".MainTabActivity"
            android:label="@string/title_activity_main_tab" >
        </activity>
        <activity
            android:name=".SpiderChartActivity"
            android:label="@string/title_activity_spider_chart" >
        </activity>
    </application>

</manifest>
